
/* ------------
  Page Layout
 ------------- */
#content .ast-container {
  width: 100vw;
  margin: 0;
  padding:0;
  max-width: unset;
}
body.mandala .site-content .ast-container {
  padding:0;
}

#primary {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  column-count: 3;
  width: 100%;
  margin: 0;
  padding: 0;
}
.ast-separate-container #primary {
  margin-top: 0 !important;
}



/* -------------------------------
  Page Layout : Mandala Content
 ------------------------------- */
body.mandala div#mandala-root ~ div {
  display: none;
}

.card-body .icon:before {
  padding-right:0 !important;
}


/* ----------------------------
  Page Layout: Content Columns
 ---------------------------- */
.thdl-col {
  height: 100vh;
}

#thdl-col-1 {
  width: 0;
}

#thdl-col-2 {
  width: 100vw;
}

#thdl-col-3 {
  width: auto;
}





/* ------------
  Site Banner
 ------------- */

.ast-builder-grid-row {
  display:block;
}
site-primary-header-wrap {
  padding:0;
}
.site-header-primary-section-right {
  display:none;
}
.ast-logo-title-inline .ast-site-identity {
  padding:0;
}
.site-header-section>div:first-child {
  padding-left:2rem;
}
.ast-mobile-header-wrap .ast-primary-header-bar,
.ast-primary-header-bar .site-primary-header-wrap {
  min-height: 4.6rem;
  padding:0;
}

.mandala.all,
.mandala.c-content__header__main,
.mandala.collections,
.u-icon__audio.color-invert,
.u-icon__collections.color-invert {
  background-color:transparent;
  border:none;
}

/* BREADCRUMBS ROW */
.c-content__header__main {
  border:none !important;
  padding:.5rem 0 0 !important;
}
.c-content__header__breadcrumb,
.c-content__header__breadcrumb .breadcrumb-item {
  color:#222 !important;
  font-style: italic;
  letter-spacing: 0.025rem;
}


.l-content__main {
  margin: 0 1.25rem 0 2rem;
}

.site-content .ast-container {
  padding:0;
}

@media (min-width: 922px) {
  .ast-container {
    max-width: 100%;
  }
}







/* ------------
  Main Top Nav
 ------------- */
#thdl-content-top nav {
  display: flex;
  background-color: #5a86ab;
}
#thdl-content-top nav ul {
  height: 40px;
  margin: 0 auto !important;
  padding: 0;
  list-style: none;
  position: relative;
  max-width: 650px;
  z-index: 100;
}
#thdl-content-top nav ul li {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  background-color: #5a86ab;
  font-size: 1.5rem;
}
#thdl-content-top nav ul li a {
  height: 40px;
  line-height: 40px;
  display: block;
  padding: 0 10px;
  color: #FFF;
  font-size: 1.5rem;
  text-decoration: none;
}
#thdl-content-top nav ul li a:hover {
  background-color: #fdfdfd;
  color: #5a86ab;
}
#thdl-content-top nav ul li:hover > ul {
  display: inherit;
}
#thdl-content-top nav ul li.selected-menu-item {
  background-color: #fdfdfd;
}
#thdl-content-top nav ul li.selected-menu-item a {
  color: #5a86ab;
}
#thdl-content-top nav ul ul {
  display: none;
  position: absolute;
}
#thdl-content-top nav ul ul li {
  height: 40px;
  line-height: 40px;
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}
#thdl-content-top nav ul ul li a {
  color: #FFF !important;
  background-color: #5a86ab;
}
#thdl-content-top nav ul ul li a:hover {
  color: #5a86ab !important;
  background-color: #FFF;
}


/*
body.home:not(.mandala) .right-side {
  margin-top: 0;
  margin-right: 0;
  z-index: 100;
}
body.home:not(.mandala) #masthead #basicSearchPortal {
  margin-top: 0;
}
body.home:not(.mandala) #masthead #browseSearchPortal {
  margin-top: 0;
}

body:not(.home) .right-side, body.mandala .right-side {
  margin-top: -45px;
  margin-right: -10px;
  z-index: 100;
}
body:not(.home) #masthead #basicSearchPortal, body.mandala #masthead #basicSearchPortal {
  margin-top: 0;
}
body:not(.home) #masthead #browseSearchPortal, body.mandala #masthead #browseSearchPortal {
  margin-top: 3.5rem;
}

#secondary {
  display: none;
}


.wp-block-column.left-main {
  flex-basis: 75%;
  padding: 1.5rem 2.5rem;
}
.wp-block-column.right-side {
  flex-basis: 25%;
  padding-top: 5rem;
}
*/



@media (min-width: 1900px) {
  .ast-main-header-wrap.main-header-bar-wrap {
    /*margin: 0 auto;*/
  }

  .site-header-primary-section-left.site-header-section {
    /*width: 1900px;
    max-width: 1900px;*/
  }

  .article .wp-block-columns {
    /*max-width: 1900px;
    margin: 0 auto;*/
  }

  .blog .wp-block-columns {
    /*width: 1900px;
    max-width: 1900px;
    margin: 0 auto;*/
  }
}



.page .entry-header, .page .entry-content {
  margin: 0 auto;
}
.page .entry-header a, .page .entry-content a {
  text-decoration: none;
}



#ast-desktop-header {
  background-color: white;
}
.site-header-primary-section-left.site-header-section {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.ast-primary-header-bar a {
  border: none;
  text-decoration: none;
}

span.icon.shanticon-magnify {
  margin-left: -2rem;
  color: lightgrey;
}

#main-search-tree-toggle, #advanced-search-tree-toggle {
  max-height: 4.6rem;
}
#main-search-tree-toggle .icon, #advanced-search-tree-toggle .icon {
  font-size: 2.2rem;
}
#main-search-tree-toggle svg, #advanced-search-tree-toggle svg {
  font-size: 2rem;
  top: 0;
}

#browseSearchPortal .adv-settings-btn {
  background-color: transparent;
  color: #333;
  font-size: 1.75rem;
  border: none;
  text-decoration: none;
}

aside.l-column__search header.treeNav-header {
  height: 4.2rem;
}



/* --------------------------
  Site Banner Search Buttons
 --------------------------- */
#site-navigation .main-navigation .menu-item {
  line-height: 4.6rem;
  max-height: 4.6rem;
}
#site-navigation .main-navigation .current-menu-item,
#site-navigation .main-navigation .current-menu-item a {
  background-color: #fdfdfd;
  color: #5a86ab;
}

.ast-mobile-header-wrap .ast-below-header-bar,
.ast-below-header-bar .site-below-header-wrap {
  min-height: 4.6rem;
  max-height: 4.6rem;
}

.ast-below-header-bar {
  background-color: #5a86ab;
}
.ast-below-header-bar .site-header-section {
  margin-left: auto;
}
.ast-below-header-bar .ast-nav-menu li {
  min-width: 175px;
  max-height: 4.6rem;
  text-align: center;
}
.ast-below-header-bar .ast-nav-menu li a {
  font-weight: bold;
  border-bottom: none;
  font-size: 1.6rem;
  color: #FEFEFE;
}
.ast-below-header-bar .ast-nav-menu li .sub-menu {
  background-color: #fff;
}
.ast-below-header-bar .ast-nav-menu li .sub-menu a {
  color: #333333;
}
.ast-below-header-bar .ast-nav-menu li .sub-menu li.current-menu-item {
  background-color: #ddd;
}

.menu-item.menu-item-type-custom.clicked .sub-menu {
  display: none;
}





/* ------------
  Home Page
 ------------- */

body.home header.entry-header {
  display: none;
}




body.home:not(.mandala) #content article.page {
  background-color: #354f6480;
  color: #fdfdfd;
  font-size: 1.25rem;
}
body.home:not(.mandala) #content article.page .wp-block-column.left-main .wp-block-group__inner-container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}
body.home:not(.mandala) #content article.page .wp-block-column.left-main .wp-block-group__inner-container .text-block {
  margin-top: 3rem;
}
body.home:not(.mandala) #content article.page .wp-block-column.left-main .wp-block-group__inner-container .home-slider {
  max-width: 600px;
  margin: 0 auto;
}
body.home:not(.mandala) #content article.page h1, body.home:not(.mandala) #content article.page h5 {
  color: #fdfdfd;
  margin: 0;
  padding: 0;
}
body.home:not(.mandala) #content article.page h1 {
  font-size: 4.5rem;
  font-famimly: "Clarkson", Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
body.home:not(.mandala) #content article.page h5 {
  color: #fdfdfd;
  font-size: 2.5rem;
  opacity: 0.85;
}
body.home:not(.mandala) #content article.page p {
  font-size: 2rem;
}










/* ------------
  Search Column
 ------------- */
.l-content__rightsidebar {
  margin:0;
}
.l-content__rightsidebar .l-column__search a {
  text-decoration: none;
  border: none;
}
.l-content__rightsidebar .l-column__search .header-label-count a {
  color: white;
  margin-top: 3px;
  display: inline-block;
}






.ast-separate-container .ast-article-post, .ast-separate-container .ast-article-single {
  padding: 1rem 2rem;
}






/* ------------
  THL Teasers
 ------------- */
.teaser-columns:first-child .thl-teaser {
  margin-left: auto;
}

.wp-block-group.thl-teaser {
  border: 4px double #777;
  margin-bottom: 2rem;
  border-radius: 20px;
  padding: 0 !important;
  height: 400px;
  max-width: 400px;


  .wp-block-group__inner-container {
    .wp-block-image {
      margin-bottom: 0;
    }
    .wp-block-image img {
      width: 100%;
      border-top-right-radius: 17px;
      border-top-left-radius: 17px;
    }

    h2.has-text-align-center {
      background-color: $menubar-color;
      margin-bottom: 0;
      a {
        color: white;
        border-bottom: none;
        text-decoration: none;
      }
    }
    p {
      padding: 0.5rem;
      padding-left: 0.75rem;
    }
  }
}




/* ------------
  Fun w/Blogs
 ------------- */
body.blog #primary {
  width: 100%;
}
body.blog .wp-block-columns {
  width: 100vw;
}
body.blog .entry-content p {
  font-size: 1.65rem;
}
body.blog .wp-block-columns .wp-block-group {
  padding: 0;
}
body.blog .left-main article.post {
  padding: 1.5rem 2.5rem;
  margin-bottom: 1rem;
}
body.blog .right-side {
  margin-left: 0;
}



body.feature-page:not(.mandala) .wp-block-column.left-main {
  background-color: #354f6480;
  padding: 5% 10% 0;
  color: #fdfdfd;
  font-size: 1.55rem;
}
body.feature-page:not(.mandala) .wp-block-column.left-main header.entry-header h1 {
  color: #fdfdfd;
  font-weight: bold;
  font-size: 2.25rem;
}
body.feature-page:not(.mandala) .wp-block-column.left-main figure figcaption {
  text-align: center;
}


div#text-alt-viewer {
  padding-top: 3.15rem;
  padding-right: 2rem;
  margin-left: -3rem;
}

.bo {
  text-decoration: none;
}

















/*# sourceMappingURL=thdl-astra.css.map */

