$menubar-color: #5a86ab;
$menubar-height: 40px;
$almost-white: #fdfdfd;

// Container full width
.ast-container {
  max-width: unset;
  padding:0;
  #site-content {
    width: 100%;
  }
  #primary {
    margin-bottom: 0 !important;
  }
  #main {
    margin-top: -0.5rem;
    & > article {
      width: 100vw;
      min-height: 75vh;
      padding: 0;
    }
  }
}

// Hide Secondary Flex Column
#secondary {
  display: none;
}

// Columns
.wp-block-column {
  &.left-main {
    flex-basis: 75%;
    padding: 1.5rem 2.5rem;
  }
  &.right-side {
    flex-basis: 25%;
    padding-top: 5rem;
  }
}

// Large Monitor
@media (min-width: 1900px) {

  .ast-main-header-wrap.main-header-bar-wrap {
    width: 1900px;
    margin: 0 auto;
  }

  .site-header-primary-section-left.site-header-section {
    width:1900px;
    max-width: 1900px;
  }

  .article .wp-block-columns {
    max-width: 1900px;
    margin: 0 auto;
  }

  .blog {
    .wp-block-columns {
      width: 1900px;
      max-width: 1900px;
      margin: 0 auto;
    }
  }
}

// Content General
.page .entry-header, .page .entry-content {
  margin: 0 auto;
  max-width: 1900px;
  // width: 100vw;

  a {
    text-decoration: none;
  }
} // end of page .entry...

// Header
#ast-desktop-header {
  background-color: white;
}

.site-header-primary-section-left.site-header-section {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.ast-primary-header-bar {
  a {
    border:none;
    text-decoration: none;
  }
}

span.icon.shanticon-magnify {
  margin-left: -2rem;
  color: lightgrey;
}

#main-search-tree-toggle, #advanced-search-tree-toggle {
  max-height: 40px;

  .icon {
    font-size: 2.2rem;
  }
  svg {
    font-size: 2.0rem;
    top: 0;
  }
}

#browseSearchPortal .adv-settings-btn {
  background-color: transparent;
  color: #333;
  font-size: 1.75rem;
  border: none;
  text-decoration: none;
}

aside.l-column__search header.treeNav-header {
  height:4.2rem;
}

// Nav menu (below header bar)
#site-navigation .main-navigation {
  .current-menu-item {
    background-color: $almost-white;
    color: $menubar-color;
    line-height: 40px;
    max-height: 40px;
  }
}

.ast-mobile-header-wrap .ast-below-header-bar,
.ast-below-header-bar .site-below-header-wrap {
  min-height: $menubar-height;
  max-height: $menubar-height;
}

.ast-below-header-bar {
  background-color: $menubar-color;

  .site-header-section {
    margin-left: auto;
  }

  .ast-nav-menu li {
    min-width: 175px;
    max-height: $menubar-height;
    text-align: center;


    a {
      font-weight: bold;
      border-bottom: none;
      font-size: 1.6rem;
      color: #FEFEFE;
    }

    .sub-menu {
      background-color: #fff;
      a {
        color: #333333;
      }
      li.current-menu-item {
        background-color: #ddd;
      }
    }

  }
}

// Menu closing fix. See thdl-astra.js menu_fix function
.menu-item.menu-item-type-custom.clicked .sub-menu {
  display: none;
}

// Homepage


body.home header.entry-header {
  display: none;
}

body.home:not(.mandala) {

  #content article.page {
    background-color: #354f6480;
    color: $almost-white;
    font-size: 1.25rem;

    .wp-block-column.left-main .wp-block-group__inner-container {
      max-width: 750px;
      margin: 0 auto;
      text-align: center;

      .text-block {
        margin-top: 3rem;
      }
      .home-slider {
        max-width: 600px;
        margin: 0 auto;
      }
    }


    h1, h5 {
      color: $almost-white;
      margin: 0;
      padding: 0;
    }

    h1 {
      font-size: 4.5rem;
      font-famimly: 'Clarkson',Helvetica,sans-serif;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }
    h5 {
      color: $almost-white;
      font-size: 2.5rem;
      opacity: .85;
    }
    p {
      font-size: 2rem;
    }

  }
}


// Sidebar
.l-content__rightsidebar {
  .l-column__search {
    a {
      text-decoration: none;
      border: none;
    }
    .header-label-count a {
      color: white;
      margin-top: 3px;
      display: inline-block;
    }
  }
}

// Mandala Pages
body.mandala .site-content .ast-container {
  display: unset;
}

body.mandala div#mandala-root ~ div {
  display: none;
}

// Main Content
.ast-separate-container #primary {
  margin-top: 0 !important;
}

.ast-separate-container .ast-article-post, .ast-separate-container .ast-article-single {
  padding: 1rem 2rem;
}

/*
.teaser-columns:first-child .thl-teaser {
  margin-left: auto;
}

// THL Teasers
.wp-block-group.thl-teaser {
  border: 4px double #777;
  margin-bottom: 2rem;
  border-radius: 20px;
  padding: 0 !important;
  height: 400px;
  max-width: 400px;


  .wp-block-group__inner-container {
    .wp-block-image {
      margin-bottom: 0;
    }
    .wp-block-image img {
      width: 100%;
      border-top-right-radius: 17px;
      border-top-left-radius: 17px;
    }

    h2.has-text-align-center {
      background-color: $menubar-color;
      margin-bottom: 0;
      a {
        color: white;
        border-bottom: none;
        text-decoration: none;
      }
    }
    p {
      padding: 0.5rem;
      padding-left: 0.75rem;
    }
  }
}
*/

// Blog Styles
body.blog {
  #primary {
    width: 100%;
  }
  .wp-block-columns {
    width: 100vw;
  }
  .entry-content p {
    font-size: 1.65rem;
  }

  .wp-block-columns .wp-block-group {
    padding: 0;
  }

  .left-main article.post {
    padding: 1.5rem 2.5rem;
    margin-bottom: 1rem;
  }

  .right-side {
    margin-left: 0;
  }
}

// Feature pages
body.feature-page:not(.mandala) {
  .wp-block-column.left-main {
    background-color: #354f6480;
    padding: 5% 10% 0;
    color: $almost-white;
    font-size: 1.55rem;

    header.entry-header h1 {
      color: $almost-white;
      font-weight: bold;
      font-size:2.25rem;
      //text-align: center;
    }
    figure figcaption {
      text-align: center;
    }
  }
}

// Texts
div#text-alt-viewer {
  padding-top: 3.15rem;
  padding-right: 2rem;
  margin-left: -3rem;
}

// General Text Styles
.bo {
  text-decoration: none;
}
